/* document.getElementById("toastbtn").onclick = function() {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show())
  } */
.link-text {
    text-decoration: none;
}

.list-style{
    list-style: none;
}
.position-set{
  margin-top: -60px;
}
.border-set{
    border-left: blue 8px solid;
    
}
.set-toast-position{
position:absolute;
top: -300px;
right: 16px;

}

.text-gray{
    color:gray
}
.text-nevy{
    color:rgb(18, 19, 88)
}
.icon-color  i{
    border: 1 px solid white;
    border-radius:50% ;
    color:blue;
    background-color: rgba(22, 39, 114, 0.137);
}
.icon-colorr i{
    border: 1 px solid white;
    border-radius:50% ;
    color:blue;
    background-color: rgba(255, 255, 255, 0.966);
}
.bt-color{
    background-color: gray;
}